<!--  <h2 class="text-center mb-4" style="color: white">Ingresar</h2>

  
  
            <form [formGroup]="loginForm" (ngSubmit)="loginUsuario()">
              <div class="form-group">
                <label class="label">Usuario</label>
                <div>
                  <input
                    type="email"
                    placeholder="Email"
                    formControlName="email"
                  />
                  <div *ngIf="loginForm.get('email')?.valid">
                    <span class="input-group-text" >
                      <i  class="fa fa-check-circle"></i>
                    </span>
                  </div>
                </div>
              </div>
  
              <div class="form-group">
                <label class="label">Contraseña</label>
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="*********"
                    formControlName="password"
                  />
                  <div class="input-group-append" *ngIf="loginForm.get('password')?.valid">
                    <span class="input-group-text">
                      <i  class="fa fa-check-circle"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button mat-button
                  type="submit"
                  [disabled]="loginForm.invalid"
                  class="btn btn-primary submit-btn btn-block"
                >
                  Login
                </button>
              </div>
  
              <div class="text-block text-center my-3">
                <span class="text-small font-weight-semibold"
                  >¿No estas registrado?
                </span>
                <br />
                <a routerLink="/register" class="text-black text-small"
                  >Crear una cuenta</a
                >
              </div>
            </form>

 -->
<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="login-card">
    <img
      mat-card-image
      src="../../../assets/images/login-card.jpg"
      alt="login-card"
    />
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="loginUsuario()"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input
            matInput
            type="email"
            placeholder="Email"
            formControlName="email"
          />
          <mat-icon
            color="primary"
            matSuffix
            *ngIf="loginForm.get('email')?.valid"
            >check_circle</mat-icon
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            type="password"
            placeholder="*********"
            formControlName="password"
          />
          <mat-icon
            color="primary"
            matSuffix
            *ngIf="loginForm.get('password')?.valid"
            >check_circle</mat-icon
          >
        </mat-form-field>

        <span *ngIf="errorLogin" color="warn">Error en el usuario o la contraseña.</span>

        <button
          mat-raised-button
          color="warn"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
