<div
  class="container"
  fxLayout="row"
  fxLayoutAlign="space-evenly center"
  fxLayout.lt-md="column"
>

  <div fxFlex.gt-sm="33" fxFlex.lt-md="100" *ngFor="let metodoContacto of metodosContacto">
    <div fxLayoutAlign="center center">
      <img src="{{'../../../assets/images/' + metodoContacto.imagen}}" alt={{metodoContacto.titulo}} />
    </div>
    <div fxLayoutAlign="center center">
      <div class="contact">
        <h1 fxLayoutAlign="center center">{{metodoContacto.titulo}}</h1>
        <hr />
        <p fxLayoutAlign="center center">{{metodoContacto.texto}}</p>
      </div>
    </div>
  </div>

</div>
