<div
  class="container"
  fxLayout="row"
  fxLayoutAlign="space-evenly center"
  fxLayout.lt-md="column"
>
  <div fxFlex.gt-sm="33" fxFlex.lt-md="100">
    <div fxLayoutAlign="center center">
      <img src="../../../assets/images/phone.png" alt="phone" />
    </div>

    <div fxLayoutAlign="center center">
      <div class="contact">
        <h1 fxLayoutAlign="center center">Llámanos</h1>
        <hr />
        <p fxLayoutAlign="center center">956 66 66 66 / 666 66 66 66</p>
      </div>
    </div>
  </div>
  <div fxFlex.gt-sm="33" fxFlex.lt-md="100">
    <div fxLayoutAlign="center center">
      <img src="../../../assets/images/mail.png" alt="mail" />
    </div>
    <div fxLayoutAlign="center center">
      <div class="contact">
        <h1 fxLayoutAlign="center center">Email</h1>
        <hr />
        <p fxLayoutAlign="center center">englishAcademy@correo.com</p>
      </div>
    </div>
  </div>
  <div fxFlex.gt-sm="33" fxFlex.lt-md="100">
    <div fxLayoutAlign="center center">
      <img src="../../../assets/images/location.png" alt="location" />
    </div>
    <div fxLayoutAlign="center center">
      <div class="contact">
        <h1 fxLayoutAlign="center center">Dirección</h1>
        <hr />
        <p fxLayoutAlign="center center">
          Calle Faisán Nº23 11406 Jerez de la Frontera, Cádiz
        </p>
      </div>
    </div>
  </div>
</div>
