<h1 fxLayout="row" fxLayoutAlign="center center" class="cabecera">
  Nuestros valores
</h1>
<hr />

<div
  class="container"
  fxLayout="row wrap"
  fxLayoutAlign="space-evenly center"
  fxLayout.lt-md="column"
>
  <div
    *ngFor="let valor of valores"
    class="valor"
    fxFlex.gt-sm="30"
    fxFlex.lt-md="100"
  >
    <h1 fxLayoutAlign="center center">{{ valor.titulo }}</h1>
    <hr />
    <p>{{ valor.texto }}</p>
  </div>
</div>

<div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="20"
  fxLayout.lt-md="column"
>
  <img
    fxFlex.gt-sm="40"
    fxFlex.lt-md="100"
    src="../../../assets/images/conocenos.png"
    alt="conocenos"
  />

  <div fxFlex.gt-sm="35" class="somos">
    <h1 fxLayoutAlign="center center">¿Quiénes somos?</h1>
    <hr />
    <p>
      · Somos un centro de idiomas que comenzó en el 2017 como English
      Connection y que, en el 2022 ha renovado la imagen del centro a English
      Academy.
    </p>
    <p>
      · Desde entonces, hemos realizado cambios con el fin de mejorar las
      instalaciones y los servicios que ofrecemos a los alumnos, pero siempre
      bajo la misma filosofía: enseñar el idioma de forma práctica y eficaz bajo
      los más altos criterios de calidad.
    </p>
  </div>
</div>

<h1 fxLayout="row" fxLayoutAlign="center center" class="cabecera">
  Nuestros profesores
</h1>
<hr />

<div
  class="container"
  fxLayout="row wrap"
  fxLayoutAlign="space-evenly center"
  fxLayout.lt-md="column"
>
  <div
    *ngFor="let profesor of profesores"
    class="profesores"
    fxFlex.gt-sm="40"
    fxFlex.lt-md="100"
  >
    <h1 fxLayoutAlign="center center">
      {{ profesor.nombre }} {{ profesor.apellidos }}
    </h1>
    <hr />
    <div fxLayoutAlign="center center">
      <img
        src="{{ '../../../assets/images/' + profesor.imagen }}"
        alt="{{ profesor.nombre }}"
        class="profeImagen"
      />
    </div>
  </div>
</div>
