<h1 fxLayout="row" fxLayoutAlign="center center" class="cabecera">
  Nuestros valores
</h1>
<hr />

<div
  class="container"
  fxLayout="row"
  fxLayoutAlign="space-evenly center"
  fxLayoutGap="20"
  fxLayout.lt-md="column"
>
  <div fxFlex.gt-sm="33" fxFlex.lt-md="100" class="valor">
    <h1 fxLayoutAlign="center center">Responsabilidad</h1>
    <hr />
    <p>La responsabilidad del equipo es el éxito de los alumnos.</p>
  </div>
  <div fxFlex.gt-sm="33" fxFlex.lt-md="100" class="valor">
    <h1 fxLayoutAlign="center center">Ética profesional</h1>
    <hr />
    <p>Actuamos con integridad, profesionalidad y respeto a las personas.</p>
  </div>
  <div fxFlex.gt-sm="33" fxFlex.lt-md="100" class="valor">
    <h1 fxLayoutAlign="center center">Trabajo en equipo</h1>
    <hr />
    <p>Fomentamos la participación de todos los integrantes de la academia.</p>
  </div>
</div>

<div
  class="container"
  fxLayout="row"
  fxLayoutAlign="space-evenly center"
  fxLayoutGap="20"
  fxLayout.lt-md="column"
>
  <div fxFlex.gt-sm="33" fxFlex.lt-md="100" class="valor">
    <h1 fxLayoutAlign="center center">Innovación</h1>
    <hr />
    <p>Informados de las últimas metodologías de enseñanza y aprendizaje.</p>
  </div>
  <div fxFlex.gt-sm="33" fxFlex.lt-md="100" class="valor">
    <h1 fxLayoutAlign="center center">Respeto</h1>
    <hr />
    <p>
      El respeto entre todos es la clave para un ambiente positivo y productivo.
    </p>
  </div>
  <div fxFlex.gt-sm="33" fxFlex.lt-md="100" class="valor">
    <h1 fxLayoutAlign="center center">Entusiasmo</h1>
    <hr />
    <p>Nos apasiona lo que hacemos, contagiamos a los clientes y alumnos.</p>
  </div>
</div>

<div
  fxLayout="row"
  fxLayoutAlign="space-evenly center"
  fxLayoutGap="20"
  fxLayout.lt-md="column"
>
  <img
    fxFlex.gt-sm="50"
    fxFlex.lt-md="100"
    src="../../../assets/images/conocenos.png"
    alt="conocenos"
  />

  <div fxFlex.gt-sm="30" fxFlex.lt-md="80" class="somos">
    <h1 fxLayoutAlign="center center">¿Quiénes somos?</h1>
    <hr />
    <p>
      · Somos un centro de idiomas que comenzó en el 2017 como English
      Connection y que, en el 2022 ha renovado la imagen del centro a English
      Academy.
    </p>
    <p>
      · Desde entonces, hemos realizado cambios con el fin de mejorar las
      instalaciones y los servicios que ofrecemos a los alumnos, pero siempre
      bajo la misma filosofía: enseñar el idioma de forma práctica y eficaz bajo
      los más altos criterios de calidad.
    </p>
  </div>
</div>
