<h1 fxLayout="row" fxLayoutAlign="center center" class="cabecera">Nuestros valores</h1>

<hr>
<div class="container" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20" fxLayout.lt-md="column">
    <mat-card fxFlex.gt-sm="33" fxFlex.lt-md="100">
        <mat-card-title fxLayoutAlign="center center">Responsabilidad </mat-card-title>
        <hr>
        <mat-card-content>Asumimos como responsabilidad de equipo el éxito de los alumnos desarrollando un trabajo profesional.</mat-card-content>
    </mat-card>
    <mat-card fxFlex.gt-sm="33" fxFlex.lt-md="100">
        <mat-card-title fxLayoutAlign="center center">Ética profesional</mat-card-title>
        <hr>
        <mat-card-content>Actuamos con integridad, profesionalidad y respeto a las personas.</mat-card-content>
    </mat-card>
    <mat-card fxFlex.gt-sm="33" fxFlex.lt-md="100">
        <mat-card-title fxLayoutAlign="center center">Trabajo en equipo</mat-card-title>
        <hr>
        <mat-card-content>Fomentamos la participación de todos los integrantes de la academia.</mat-card-content>
    </mat-card>
    
   
</div>
<hr>
<div fxLayout="row" fxLayoutAlign="space-evenly center" class="container" fxLayoutGap="20" fxLayout.lt-md="column">
    <mat-card fxFlex.gt-sm="33" fxFlex.lt-md="100">
        <mat-card-title fxLayoutAlign="center center">Innovación</mat-card-title>
        <hr>
        <mat-card-content>Intentamos estar siempre informados de las últimas metodologías de enseñanza y aprendizaje.</mat-card-content>
    </mat-card>
    <mat-card fxFlex.gt-sm="33" fxFlex.lt-md="100">
        <mat-card-title fxLayoutAlign="center center">Respeto</mat-card-title>
        <hr>
        <mat-card-content>El respeto entre todos es la clave para un ambiente positivo y productivo.</mat-card-content>
    </mat-card>
    <mat-card fxFlex.gt-sm="33" fxFlex.lt-md="100">
        <mat-card-title fxLayoutAlign="center center">Entusiasmo</mat-card-title>
        <hr>
        <mat-card-content>Nos apasiona lo que hacemos, contagiamos a los clientes y alumnos.</mat-card-content>
    </mat-card>
</div>

<div>
    <p>Somos un centro de idiomas que comenzó en el 2017 como English Connection y que, en el 2022 ha renovado la imagen del centro a Language Connection. </p>
    <p>Desde entonces, hemos realizado cambios con el fin de mejorar las instalaciones y los servicios que ofrecemos a los alumnos, pero siempre bajo la misma filosofía: enseñar el idioma de forma práctica y eficaz bajo los más altos criterios de calidad. </p>
</div>
