[fxFlex]:last-of-type{ 
    margin-right: 20px; 
}
mat-card{
    margin-top: 15px;
}

mat-card-title{
    height: 250px;
    background-color: #3f51b5;
    color: #fff;
}

.listaCursos{
    margin-bottom: 20px;
}

