[fxFlex]:last-of-type{ 
    margin-right: 20px; 
}

.gestion-card{
    cursor: pointer;
}

.nuevoCard{
    max-width: 400px;
    margin-bottom: 50px;
}

mat-card{
    margin-top: 15px;
    margin-bottom: 15px;
}

button{
    margin-top: 15px;
}



hr{
    width: 80%;
    margin-bottom: 23px;
}

.aviso{
    color:red;
}

app-tabla{
  width: 70%;
}
