<div fxLayout="row wrap" fxLayoutGap="20" fxLayoutAlign="center">
  <div
    fxFlex.xs="60"
    fxFlex.sm="35"
    fxFlex.md="25"
    fxFlex="20"
    fxFlex.gt-lg="15"
    *ngFor="let tipo of tiposGestion"
  >
    <mat-card (click)="mostrar(tipo.gestion)" class="gestion-card">
      <img
        mat-card-image
        src="../../../assets/images/{{ tipo.image }}"
        alt="{{ tipo.gestion }}"
      />
      <mat-card-content>
        <h1>{{ tipo.gestion | uppercase }}</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<!-- LISTADO DE USUARIOS -->
<div *ngIf="gestionMostrar === 'LU'">
  <div fxLayout="column" fxLayoutAlign="center center">

    <app-tabla [datosCursos]="[]" [datosUsuarios]="usuarios" [columnas]="columnasUsuarios" ></app-tabla>
  </div>
</div>


<!-- CREACIÓN USUARIO -->
<div *ngIf="gestionMostrar === 'CU'">
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="nuevoCard">
      <img
        mat-card-image
        src="../../../assets/images/crearUsuarioForm.png"
        alt="login-card"
      />
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <h2>Nuevo usuario</h2>
        <hr>
        <form
          [formGroup]="crearUsuarioForm"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              placeholder="Nombre"
              formControlName="nombre"
            />
            <mat-icon
              color="primary"
              matSuffix
              *ngIf="crearUsuarioForm.get('nombre')?.valid"
              >check_circle</mat-icon
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input
              matInput
              type="email"
              placeholder="Email"
              formControlName="email"
            />
            <mat-icon
              color="primary"
              matSuffix
              *ngIf="crearUsuarioForm.get('email')?.valid"
              >check_circle</mat-icon
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              type="password"
              placeholder="*********"
              formControlName="password"
            />
            <mat-icon
              color="primary"
              matSuffix
              *ngIf="crearUsuarioForm.get('password')?.valid"
              >check_circle</mat-icon
            >
          </mat-form-field>

          <mat-checkbox color="warn" formControlName="admin">
            Usuario Administrador
          </mat-checkbox>

          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="crearUsuario()"
            [disabled]="crearUsuarioForm.invalid"
          >
            Crear Usuario
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- LISTADO DE CURSOS -->
<div *ngIf="gestionMostrar === 'LC'">
  <div fxLayout="column" fxLayoutAlign="center center">

    <app-tabla [datosCursos]="cursos" [datosUsuarios]="[]" [columnas]="columnasCursos" ></app-tabla>

  </div>
</div>

<!-- CREACIÓN CURSO -->
<div *ngIf="gestionMostrar === 'CC'">
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="nuevoCard">
      <img
        mat-card-image
        src="../../../assets/images/crearCursoForm.png"
        alt="login-card"
      />
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <h2>Nuevo curso</h2>
        <hr>
        <form
          [formGroup]="crearCursoForm"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              placeholder="Nombre"
              formControlName="nombre"
            />
            <mat-icon
              color="primary"
              matSuffix
              *ngIf="crearCursoForm.get('nombre')?.valid"
              >check_circle</mat-icon
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Duración</mat-label>
            <input
              matInput
              type="text"
              placeholder="Duración"
              formControlName="duracion"
            />
            <mat-icon
              color="primary"
              matSuffix
              *ngIf="crearCursoForm.get('duracion')?.valid"
              >check_circle</mat-icon
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input
              matInput
              type="number"
              min="0"
              placeholder="Precio"
              formControlName="precio"
            />
            <mat-icon
              color="primary"
              matSuffix
              *ngIf="crearCursoForm.get('precio')?.valid"
              >check_circle</mat-icon
            >
          </mat-form-field>

          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="crearCurso()"
            [disabled]="crearCursoForm.invalid"
          >
            Crear curso
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
