
table{
    width: 100%;
}
.mat-cell {
padding: 8px 8px 8px 0;
}
.mat-form-field{
width: 25%;
}
mat-paginator {
    width: 100%;
}
.icon-edit, .icon-delete, .icon-ressetPassword{
    cursor: pointer;
}